{{yield}}
<div class="card mb-3">
	<img src="https://www.fillmurray.com/300/300" alt="Whatever this is" class="card-img-top">
	<div class="card-body">
		<div>
			<div class="h6">{{@location.name}}</div>
			<p>
				{{@location.street}}<br>
				{{@location.city}}, {{@location.state}}, {{@location.zip}}
				<div class="mt-2">{{@location.phone}}</div>
			</p>
		</div>
		<button class="btn btn-primary w-100" data-office-id="{{@location.id}}">Select</button>
	</div>
</div>